* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

section{
    width: 100%;
}

#Home{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem 10rem 2rem;
    max-width: 1200px;
}

#Introduce{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    max-width: 1200px;
}

#Menu{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    background-color: #ffffff;
    max-width: 1200px;
}

#Rewards{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    background-color: #fb4323;
    max-width: 1200px;
}

.left-home span{
    color:  #fb4323;
    font-size: 2.5rem;
}

.left-home h1{
    font-size: 4.8rem;
}

.home-btn{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.home-btn button{
    font-size: 1.1rem;
    padding: 15px 20px;
    border-radius: 25px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}


.home-btn #btn-download{
    background-color: #24a640;
}

.home-btn #btn-download:hover,.home-btn #btn-view-menu:hover{
   background-color: rgb(85, 85, 85);
}

.home-btn #btn-view-menu{
    background-color: #fb4323;
}

.right-home img{
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.45));
}

.introduce-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intcont1, .intcont2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    gap: 100px;
}

.intcont1 img, .intcont2 img{
    width: 400px;
}

.intcont1{
    background-color: #f4d35e;
}

.intcont2 img{
    background-color: #faf0ca;
}

.intcont2{
    background-color: #ee964b;
}

.intcont1-details,.intcont2-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.introduce-container h4{
    color: #fb4323;
    font-size: 20px;
}

.introduce-container h3{
    font-size: 60px;
    font-weight: bolder;
}

.introduce-container p{
    font-size: 20px;
}

.introduce-container button{
    padding: 15px;
    max-width: 150px;
    border-radius: 25px;
    border: none;
    background-color: #fb4323;
    color: #ffffff;
    font-weight: 800;
}